@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100%;
}

.fade-out{
    animation: closecard .3s forwards;
}
.open{
    animation: open .3s forwards;
}
@keyframes closecard {
    0% { opacity: 1; display: flex; }
    100% { opacity: 0; display: none; }
}
@keyframes open {
    0% { opacity: 0;  }
    100% { opacity: 1; display: flex;}

}
.font-green{
    color: rgb(37, 118, 37);
}
.fade-up{
    animation: fade-up .5s ease-in-out;
    overflow: hidden;
}

.bounce{
    animation: bounce .3s ease-in-out;
}
.up{
    animation: up 2s ease-in-out;
    overflow: hidden;
}
.left-transition{
    animation: left-transition .6s ease-in-out;
}
.right-transition{
    animation: right-transition .6s ease-in-out;
}
.show{
    animation: show .8s;
}
@keyframes show {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
@keyframes left-transition {
    from{transform: translateX(-100%)}
    to{transform: translateX(0);}
}


@keyframes right-transition {
    from{transform: translateX(100%);}
    to{transform: translateX(0);}
}


@keyframes bounce {
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
@media screen and (min-width: 470px) {
    @keyframes opencard {
        from{width: 0px;}
        to{width: 80%;}
    }
    @keyframes up {
        0%{
            transform: translateY(30%);
        }
        100%{
            transform: translateY(0);
        }
    }
}