@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(89, 89, 89, 0.132);
	background-color: #f5f5f570;
}

::-webkit-scrollbar
{   
	width: 5px;
	background-color: #f5f5f56b;
}
::-webkit-scrollbar-thumb
{
	background-color: #494949a4;
    border-radius: 50px;
	border: 2px solid #55555572;
}

body{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

.fade-out{
    animation: closecard .3s forwards;
}
.open{
    animation: open .3s forwards;
}


.fade-up{
    animation: fade-up .5s ease-in-out;
    overflow: hidden;
}

.bounce{
    animation: bounce .3s ease-in-out;
}
.up{
    animation: up 2s ease-in-out;
    overflow: hidden;
}
.left-transition{
    animation: left-transition .9s ease;
}
.right-transition{
    animation: right-transition .9s ease-in-out;
}
.show{
    animation: show .8s ease-in-out;
}

@keyframes closecard {
    0% { opacity: 1; display: flex; }
    100% { opacity: 0; display: none; }
}
@keyframes open {
    0% { opacity: 0;  }
    100% { opacity: 1; display: flex;}

}
@keyframes show {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
@keyframes left-transition {
    from{transform: translateX(-100%)}
    to{transform: translateX(0);}
}


@keyframes right-transition {
    from{transform: translateX(100%);}
    to{transform: translateX(0);}
}


@keyframes bounce {
    50%{transform: translateY(-20px);}
    100%{transform: translateY(0);}
}
@media screen and (min-width: 470px) {
    @keyframes up {
        0%{
            transform: translateY(30%);
        }
        100%{
            transform: translateY(0);
        }
    }
}